<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tl }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <!-- This is header content -->
    </header>
    <div class="content">
        <!-- This is the content shown on the webpage -->
    </div>
    <footer>
        <!-- This is footer content -->
    </footer>
</body>
</html>